@import "./src/common/styles/mixin";

.userContainer{
  width: 77.14%;
  max-height: 1028px;
  background-color: $textColor;
  padding: 13px 0 0 32px;
  .header{
    display: flex;
    justify-content: space-around;
  }
  .title{
    @include Roboto(700, 14px, 16px);
    letter-spacing: 0.03em;
    margin: 6px 12% 0px -8%;
  }
  .totalUsers{
    @include Roboto(400, 12px, 14px);
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin: 10px -45% 0 0;

  }
}