@import "./src/common/styles/mixin";
@keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cardContainer {
  animation: 1s move;
  background: $borderColor;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 14px 0 0 0;
  max-width: 402px;
  padding: 10px;
  height: 55px;

  li{
    list-style-type: none;
    @include Roboto(400, 11px, 13px);
    color: $grayColor;
    height: 11px;


    .dataUser{
      @include Roboto(400, 11px, 13px);
      color: #000000;
      padding-left: 11px;

    }
  }
  & a{
    @include Roboto(400, 12px, 14px);
    color: #4B51EF;
    text-decoration: none;
    display: block;
    margin-top: 10.5%;
    letter-spacing: 0.08em;
    cursor: pointer;
  }
  & ul {
    @include flexColum;
    justify-content: space-around;
  }
}