.load {
    margin: 50% auto 0 auto;
    display: flex;
    width: 17.5em;
    height: 17.5em;
    border: 5px solid transparent;
    border-top-color: #3cefff;
    border-bottom-color: #3cefff;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    &:before {
        content: '';
        display: block;
        margin: auto;
        width: 0.75em;
        height: 0.75em;
        border: 50px solid #3cefff;
        border-radius: 50%;
        animation: pulse 1s alternate ease-in-out infinite;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}
