label{
  font-family: Robotoб serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
}

.profileContainer {
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 8px;
  //
  width: 438px;
  height: 463px;
  margin: 1% 0 0 0;


  .formContainer {
    display: flex;
    flex-direction: column;
    padding: 8px 0 0 0;

    .labelName {
      margin: 8px 0 3px 2.5%;
      .inputType {
        background-color: #FFFFFF;
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 10px;
        line-height: 12px;
        width: 211px;
        height: 22px;
        margin-top: 3px;

        &:invalid {
          border: 1px solid red;
        }

        &:disabled {
          color: rgba(0, 0, 0, 0.3);
        }

        &:focus {
          border: 1px solid #D8D8D8;
          outline: white;

        }
      }

    }
    .textAriaInput{
      width: 420px;
      height: 55px;
      resize: none;
      box-sizing: border-box;
      background-color: #FFFFFF;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      margin-top: 3px;
      &:disabled {
        color: rgba(0, 0, 0, 0.3);
      }
    }
    .button{
      & button{
        margin: 5.5% 0 0 81%;
      }
    }
  }
}