@import "./src/common/styles/mixin";

@keyframes move {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}

.alert {
    @include flexColum;
    animation: 1s move;
    width: 300px;
    height: 400px;
    padding: 5px;
    position: absolute;
    left: 41%;
    z-index: 1;
    background-color: $grayColor;
    align-items: center;
    text-align: center;
    opacity: 0.7;
    border-radius: 15px;
    .submit {
        height: 350px;
        display: flex;
        align-items: center;
        text-align: left;
    }
}